@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bievenido a mi ABM!</h1>
    <p> 
        Trabajo práctico - Laboratorio IV
    </p>
    <p>
        Profesores: Isidro Solis, Martín Rossi
    </p>
    <p>
        Alumna: Abigail Barengo
    </p>

    <h6>
        La biblioteca de la UTN San Francisco necesita un pequeño Sistema de inventario de libros para poder guardar la siguiente información:

        - título del libro

        - autor

        - editorial

        - genero

        - ubicación en la biblioteca

        - cantidad de copias disponibles

        <h6>
            Desarrollar un sistema web para solucionar esta necesidad, el mismo debe permitir:

        - Listar los libros

        - Cargar un nuevo libro

        - Modificar un libro existente

        - Borrar un libro del listado
        </h6>

    </h6>
</div>
